<!DOCTYPE html>
<html lang="zh-Hant">

	{{!-- First edit the title of the templateData in the gulp.task('templates') of gulpfile.js.
	The title will be changed to {{title}} in all hbs --}}

	<head>
		{{!-- {{>meta bootstrap='true' bootstrap4='true' jquery='true' editor='true' }} --}}
		{{>meta bootstrap='true'}}
	</head>

	<body>
		{{>header}}

		{{>pageContent card='true' content='ie'}}

		{{>footer}}

		{{#if jqueryBody}}
		<!-- jq:js -->
		<script src="js/jquery.min.js"></script>
		<!-- endinject -->
		{{/if}}
		{{#if bootstrapBody}}
		<!-- bs:js -->
		<script src="js/bootstrap.min.js"></script>
		<!-- endinject -->
		{{/if}}
	</body>

</html>