<!DOCTYPE html>
<html lang="zh-Hant">

  {{!-- First edit the title of the templateData in the gulp.task('templates') of gulpfile.js.
  The title will be changed to {{title}} in all hbs --}}

  <head>
    {{!-- {{>meta bootstrap='true' bootstrap4='true' jquery='true' editor='true' }} --}}
    {{>meta bootstrap='true' headStyle='true'}}
  </head>

  <body>
    {{>header}}

    {{>pageContent card='true' content='search'}}

    {{>footer}}

		{{#if jqueryBody}}
		<!-- jq:js -->
		<script src="js/jquery.min.js"></script>
		<!-- endinject -->
		{{/if}}
		{{#if bootstrapBody}}
		<!-- bs:js -->
		<script src="js/bootstrap.min.js"></script>
		<!-- endinject -->
		{{/if}}
    <script type="text/javascript">
      $(document).ready(function () {

        var counter = 2;
        $("#addButton").click(function () {
          if (counter > 10) {
            alert("最多新增10項");
            return false;
          }

          var newTextBoxDiv = $(document.createElement('div')).attr("id", 'TextBoxDiv' + counter).attr("class", 'input-group');
          newTextBoxDiv.after().html('<span class=\"input-group-btn\" id=\"selectA' + counter + ' \"><select class=\"btn select-default\"><option value=\"and\">and</option><option value=\"or\">or</option><option value=\"not\">not</option></select></span>' +
            '<input type="text" class="form-control" placeholder="請輸入查詢條件" name="textbox' + counter +
            '" id="textbox' + counter + '" value="" >' + '<span class=\"input-group-btn\" id=\"selectB' + counter + ' \"><select class=\"btn select-default\"><option value=\"條列式\">條列式</option><option value=\"xls\">Excel</option><option value=\"htm\">HTML檔</option><option value=\"xml\">Xml</option></span>');

          newTextBoxDiv.appendTo("#TextBoxesGroup");
          counter++;
        });


        $("#removeButton").click(function () {
          if (counter == 1) {
            alert("沒有能夠刪除的項目了");
            return false;
          }
          counter--;
          $("#TextBoxDiv" + counter).remove();
        });
      });
    </script>
  </body>

</html>