<!DOCTYPE html>
<html lang="zh-Hant">

  {{!-- First edit the title of the templateData in the gulp.task('templates') of gulpfile.js.
  The title will be changed to {{title}} in all hbs --}}

  <head>
    {{!-- {{>meta bootstrap='true' bootstrap4='true' jquery='true' editor='true' }} --}}
    {{>meta bootstrap='true'}}
  </head>

  <body>
    {{>header}}

    {{>pageContent card='true' content='result-search-po'}}

    {{>footer}}

    {{#if jqueryBody}}
    <!-- jq:js -->
    <script src="js/jquery.min.js"></script>
    <!-- endinject -->
    {{/if}}
    {{#if bootstrapBody}}
    <!-- bs:js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- endinject -->
    {{/if}}
    <!-- 儲存 -->
    <div class="modal fade" id="focusModal_1" tabindex="-1" role="dialog" aria-labelledby="focusModalLabel_1">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="focusModalLabel_1">儲存</h4>
          </div>
          <div class="modal-body">
            <div class="form-horizontal">
              <div class="col-xs-12 clearfix">
                <div class="form-group">
                  <label class="col-xs-3 text-right must" for="selectDep">格式</label>
                  <div class="col-xs-9">
                    <select name="格式" id="selectDep">
                      <option value="simple" selected="selected">簡目</option>
                      <option value="adv">詳目</option>
                      <option value="endnote">EndNote</option>
                      <option value="refworks">RefWorks</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-3 text-right must" for="format">資料類型</label>
                  <div class="col-xs-9">
                    <select name="格式" id="format">
                      <option value="csv" selected="selected">CSV</option>
                      <option value="excel" selected="selected">Excel</option>
                      <option value="html" selected="selected">HTML</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary">送出</button>
          </div>
        </div>
      </div>
    </div>
    <!-- / 儲存 -->
    <!-- 列印 -->
    <div class="modal fade" id="focusModal_2" tabindex="-1" role="dialog" aria-labelledby="focusModalLabel_2">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="focusModalLabel_2">列印</h4>
          </div>
          <div class="modal-body">
            <div class="form-horizontal">
              <div class="col-xs-12 clearfix">
                <div class="form-group">
                  <label class="col-xs-3 text-right must" for="type_2">格式</label>
                  <div class="col-xs-9">
                    <select name="格式" id="type_2">
                      <option value="simple" selected="selected">簡目</option>
                      <option value="adv">詳目</option>
                      <option value="endnote">EndNote</option>
                      <option value="refworks">RefWorks</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary">送出</button>
          </div>
        </div>
      </div>
    </div>
    <!-- / 列印 -->
    <!-- E-mail -->
    <div class="modal fade" id="focusModal_3" tabindex="-1" role="dialog" aria-labelledby="focusModalLabel_3">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="focusModalLabel_3">E-mail</h4>
          </div>
          <div class="modal-body">
            <div class="form-horizontal">
              <div class="col-xs-12 clearfix">

                <div class="form-group">
                  <label class="col-xs-3 text-right must" for="type_3">格式</label>
                  <div class="col-xs-9">
                    <select name="格式" id="type_3">
                      <option value="simple" selected="selected">簡目</option>
                      <option value="adv">詳目</option>
                      <option value="endnote">EndNote</option>
                      <option value="refworks">RefWorks</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-3 text-right must" for="zhName">收件者</label>
                  <div class="col-xs-9">
                    <input class="w-full" type="text" name="" id="zhName" required placeholder="請輸入Email">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-3 text-right" for="subject">主旨</label>
                  <div class="col-xs-9">
                    <input class="w-full" type="text" name="" id="subject">
                  </div>
                </div>
              </div>
              <!-- /填寫內容結束 -->
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary">送出</button>
          </div>
        </div>
      </div>
    </div>
    <!-- / E-mail -->
    <!-- 研究偏好 -->
    <div class="modal fade" id="focusModal_4" tabindex="-1" role="dialog" aria-labelledby="focusModalLabel_4">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="focusModalLabel_4">研究偏好</h4>
          </div>
          <div class="modal-body">
            <div class="form-horizontal">
              <div class="col-xs-12 clearfix">
                內容未知
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary">送出</button>
          </div>
        </div>
      </div>
    </div>
    <!-- / 研究偏好 -->
    <script type="text/javascript">
      //根據點選的頁籤名稱，換標題文字
      function changeText(obj) {
        var x = $(obj).text();
        document.getElementById("changeTextByClick").innerHTML = x;
        // console.log(x);
      }
      //側邊欄手風琴開闔效果，切換icon表示展開/收闔狀態
      function toggleIcon(e) {
        $(e.target)
          .prev('.panel-heading')
          .find(".more-less")
          .toggleClass('glyphicon-plus glyphicon-minus');
      }
      $('.panel-group').on('hidden.bs.collapse', toggleIcon);
      $('.panel-group').on('shown.bs.collapse', toggleIcon);

    </script>
  </body>

</html>