{{!-- {{>dropdown optionSum='true'}} --}}

<!-- Dropdown -->
<div class="min_width-100" uk-dropdown>
	<ul class="uk-nav uk-dropdown-nav uk-text-left">
		<li class="tw-m-0 uk-nav-header"><span>Type</span></li>
		<li class="tw-px-2 tw-py-1">
			<a href="">Option{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs">999</small>{{/if}}</a>
		</li>
		<li class="tw-px-2 tw-py-1">
			<a href="">Option{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs">999</small>{{/if}}</a>
		</li>
		<li class="tw-m-0 uk-nav-header"><span>Type</span></li>
		<li class="tw-px-2 tw-py-1">
			<a href="">Option{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs">999</small>{{/if}}</a>
		</li>
		<li class="tw-px-2 tw-py-1">
			<a href="">Option{{#if optionSum}}<small class="pseudo:parentheses tw-text-xs">999</small>{{/if}}</a>
		</li>
	</ul>
</div>
<!-- Dropdown -->