{{!-- {{>footer hrefForAA='true' sitemap='true' gradientLine='true'}} --}}
<!-- 【頁尾】 -->
<footer class="footer">
	<div class="container_responsive@s uk-container">
		<div class="container tw-w-full tw-py-4 m:tw-pb-6 m:tw-px-0">
			<div class="row tw-flex tw-flex-wrap-reverse tw-text-center tw-m-0">
				<div class="col-xs-12 col-sm-9 m:tw-text-left">
					<div>本館地址：23574 新北市中和區中安街八十五號．電話：886-2-2926-6888</div>
					<div>著作權聲明 Copyright © 2020 All rights reserved．最佳瀏覽解析度為1920x1080以上</div>
				</div>
				<div class="col-xs-12 col-sm-3 m:tw-text-right tw-mb-2 m:tw-m-0 tw-space-y-2">
					<a class="min_width-90 tw-text-xs tw-text-center tw-border tw-border-black tw-border-solid tw-px-2 tw-py-1" href="#">隱私權與安全政策</a>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- /【頁尾】 -->