{{!-- {{>header tw-shadow='true' hrefForAA='true' topNav='true' textSize='true' logoRightNav='true' mainMenu='true' 01active='true' borderHR='true' iconLogin='true' modal='true'}} --}}
<!-- 【頁首】含主導覽列 -->
{{!-- <nav class="navbar navbar-default indexNav" role="navigation">
	<div class="container-fluid">
		<a accesskey="U" href="#U" id="AU" name="U" title="上方區域" class="sr-only sr-only-focusable">:::</a>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">選單切換</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand hidden-xs" href="index.html"><img alt="網頁版logo" src="img/logo-lg.png"></a>
			<a class="navbar-brand visible-xs" href="index.html"><img alt="手機版logo" src="img/logo.png"></a>
		</div>
		<!-- 最上，次選單： -->
		<ul class="nav navbar-nav text-right navbar-right subMenu hidden-xs">
			<li><a href="p0-網站地圖.html">網站地圖</a></li>
			<li><a href="p0-常見問題.html">常見問題</a></li>
			<li><a href="p0-版權聲明.html">版權聲明</a></li>
		</ul>
		<!-- 手機隱藏選單區： -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">

			<!-- 左選單 -->
			<ul class="nav navbar-nav mainMenu">
				<li><a href="p1-資料庫簡介.html">資料庫簡介</a></li>
				<li><a href="p2-文獻查詢-進階搜尋.html">文獻查詢</a></li>
				<li><a href="p3-查詢結果.html">文獻瀏覽</a></li>
				<li><a href="p4-主題展.html">主題展</a></li>
				<li><a href="p5-相關網站.html">相關網站</a></li>
				<li><a href="p6-0-個人化服務-登入.html">個人化服務</a></li>
				<li><a>登出</a></li>
			</ul>
			<!-- 右選單 -->
			<ul class="nav navbar-nav visible-xs">
				<li><a href="p0-網站地圖.html">網站地圖</a></li>
				<li><a href="p0-常見問題.html">常見問題</a></li>
				<li><a href="p0-版權聲明.html">版權聲明</a></li>
			</ul>
			<div class="s_hello hidden-xs">
				<span>王小明 您好，歡迎您的使用<span class="small"> (59.120.40.122) </span>！</span>
			</div>
		</div>
		<!-- 手機隱藏選單區結束 -->
	</div>
</nav> --}}
<nav class="navbar navbar-default indexNav tw-min-h-0 m:tw-pt-3 m:tw-bg-transparent m:tw-border-none" role="navigation">
	<div class="container-fluid tw-px-2 tw-py-1 uk-container">
		<div class="navbar-header tw-pl-2 sm:tw-p-0 tw-m-0 uk-flex-middle uk-grid uk-grid-small uk-child-width-expand">
			<div class="tw-m-0 tw-p-0 uk-flex uk-flex-middle">
				<a class="navbar-brand tw-m-0 tw-p-0 tw-h-auto" href="index.html">
					<img class="uk-preserve" src="img/logo.svg" alt="{{title}}">
				</a>
			</div>
			<div class="uk-flex-nowrap uk-width-auto">
				<button class="navbar-toggle tw-border-none tw-m-0" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">選單切換</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
		</div>
		<!-- 最上，次選單： -->
		<ul class="nav navbar-nav text-right navbar-right subMenu hidden-xs tw-text-xs tw-mx-0 tw-mt-3">
			<li class="pseudo:line_v"><a class="hover:tw-underline tw-p-0 tw-inline" href="index.html">回首頁</a></li>
			<li class="pseudo:line_v"><a class="hover:tw-underline tw-p-0 tw-inline" href="p0-網站地圖.html">網站導覽</a></li>
		</ul>
		<!-- 手機隱藏選單區： -->
		<div class="collapse navbar-collapse navbar-ex1-collapse tw-w-full tw-float-left tw-mx-0 tw-mt-4">
			<!-- 左選單 -->
			<ul class="nav navbar-nav mainMenu nav_bar nav_bar-secondary tw-w-full tw-mx-0 tw-justify-center tw-font-bold tw-float-none uk-tab">
				<li><a class="tw-text-base tw-py-1" href="">最新消息</a></li>
				<li><a class="tw-text-base tw-py-1" href="">類型瀏覽</a></li>
				<li><a class="tw-text-base tw-py-1" href="">常見問題</a></li>
				<li><a class="tw-text-base tw-py-1" href="">意見箱</a></li>
				<li><a class="tw-text-base tw-py-1" href="">本土教育相關網站</a></li>
				<li><a class="tw-text-base tw-py-1" href="">《在地》</a></li>
				<li><a class="tw-text-base tw-py-1" href="https://www.ntl.edu.tw/">圖書館首頁</a></li>
			</ul>
			<!-- 右選單 -->
			<ul class="nav navbar-nav visible-xs tw-border-t tw-border-white tw-pt-2 tw-text-center">
				<li class="tw-inline-block"><a href="index.html">回首頁</a></li>
				<li class="tw-inline-block"><a href="p0-網站地圖.html">網站導覽</a></li>
			</ul>
			<div class="s_hello hidden-xs tw-w-full tw-text-center tw-text-xs tw-mt-2">
				<span>王小明 您好，歡迎您的使用<span class="small"> (59.120.40.122) </span>！</span>
			</div>
		</div>
		<!-- 手機隱藏選單區結束 -->
	</div>
</nav>
<!-- /【頁首】含主導覽列 -->