<!-- 【內容區塊】頁首(含導覽列)、頁尾以外的所有內容放置區域 -->
<div class="container container-wrapper">
  <!-- 標題區塊 -->
  <div class="row">
    <div class="col-xs-12 col-lg-7">
      <!-- 左邊：主標題/麵包屑功能 -->
      <h4 class="title css-beforeTriangle mt-0"><a href="index.html">首頁</a>/相關網站</h4>
    </div>
    <!-- /左邊：主標題/麵包屑功能 -->
    <!-- 右邊：小功能(分享、返回等) -->
    <div class="col-xs-12 col-lg-5 text-right">
    </div>
    <!-- /右邊：小功能(分享、返回等) -->
  </div>
  <!-- /標題區塊 -->
  <!-- 【內容區塊】開始塞內容 -->
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 mb-20">
      <a href="" class="btn btn-block btn-lg btn-primary" title="另開新視窗" target="_blank">相關網站連結</a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 mb-20">
      <a href="" class="btn btn-block btn-lg btn-primary" title="另開新視窗" target="_blank">相關網站連結</a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 mb-20">
      <a href="" class="btn btn-block btn-lg btn-primary" title="另開新視窗" target="_blank">相關網站連結</a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 mb-20">
      <a href="" class="btn btn-block btn-lg btn-primary" title="另開新視窗" target="_blank">相關網站連結</a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 mb-20">
      <a href="" class="btn btn-block btn-lg btn-primary" title="另開新視窗" target="_blank">相關網站連結</a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 mb-20">
      <a href="" class="btn btn-block btn-lg btn-primary" title="另開新視窗" target="_blank">相關網站連結</a>
    </div>
  </div>
  <!-- /【內容區塊】內容結束處 -->
</div>
<!-- /【內容區塊】頁首(含導覽列)、頁尾以外的所有內容放置區域 -->