
body {
  background-color: #f1efe2;
}

body, nav.navbar > div {
  position: relative;
}

body::before, nav.navbar::before, footer::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body::before {
  background: none;
  background-size: auto, auto;
  height: 600px;
  top: calc(50% - (600px/2) + 85px);
  bottom: auto;
}

nav.navbar {
  background-color: transparent;
  margin-bottom: 30px;
}

nav.navbar::before {
  bottom: auto;
  height: 60px;
  background: url(../img/bg-header.png) no-repeat center bottom;
  background-size: 120%;
}

footer::before {
  height: 230px;
  top: auto;
  background: url(../img/bg-footer.png) no-repeat center 0%;
  background-size: auto 150%;
}

footer {
  padding-top: 50px;
}

@media (min-width: 480px) {
  nav.navbar::before {
    height: 70px;
  }

  footer {
    padding-top: 100px;
  }
}
@media (min-width: 640px) {
  footer::before {
    height: 180px;
  }

  nav.navbar::before {
    height: 80px;
  }
}
@media (min-width: 768px) {
  nav.navbar {
    background-color: transparent;
    margin-bottom: 50px;
  }

  nav.navbar::before {
    height: 200px;
    background: url(../img/bg-header.png) no-repeat center bottom, url(../img/bg-square.png) no-repeat -15% bottom;
    background-size: 150%, auto;
  }

  footer::before {
    height: 150px;
  }
}
@media (min-width: 960px) {
  body::before {
    background: url(../img/bg-circle-left.png) no-repeat -8% bottom, url(../img/bg-circle-right.png) no-repeat 116% top;
    background-size: auto, auto;
    height: 600px;
    top: calc(50% - (600px/2));
  }

  nav.navbar::before {
    background: url(../img/bg-header.png) no-repeat center bottom, url(../img/bg-square.png) no-repeat -40% bottom;
    background-size: 110%, auto;
  }

  footer::before {
    height: 200px;
    background: url(../img/bg-footer.png) no-repeat center -50%, url(../img/bg-building.png) no-repeat 1% top, url(../img/bg-tree.png) no-repeat 98% 2%;
    background-size: 200%, auto, auto;
  }

  footer {
    padding-top: 130px;
  }
}
@media (min-width: 1200px) {
  nav.navbar::before {
    background: url(../img/bg-header.png) no-repeat center bottom, url(../img/bg-square.png) no-repeat -15% bottom;
    background-size: 110%, auto;
  }

  footer::before {
    background-size: 180%, auto, auto;
  }
}
@media (min-width: 1600px) {
  footer::before {
    background-size: 100%, auto, auto;
  }
}
.navbar-collapse {
  background-color: #eeeac0;
}

@media (min-width: 768px) {
  .navbar-collapse {
    background-color: transparent;
  }
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #c15254;
}

/*---------- Map ------------------------------*/
.mapTaiwan .mapHover:hover, .mapTaiwan .mapHover:hover .textOutline {
  fill: white !important;
  text-decoration: none;
}

.mapTaiwan text {
  display: none !important;
}

.mapTaiwan .mapHover:hover .bgHover {
  display: block !important;
  fill: #c15254;
}

@media (min-width: 480px) {
  .mapTaiwan .textOutline {
    display: none !important;
  }

  .mapTaiwan text {
    display: inline !important;
  }

  .mapTaiwan .mapHover:hover text {
    fill: white !important;
  }
}
.mapArea {
  fill: url(#Gradient1);
}

.mapHover:hover .mapArea {
  fill: url(#Gradient2);
}

.stop1 {
  stop-color: #ebe5b1;
}

.stop2 {
  stop-color: #e6e0aa;
}

.stop3 {
  stop-color: #e1d493;
}

.stop4 {
  stop-color: #d6c887;
}

/*---------- End Map ------------------------------*/
/*---------- Bootstrap 3 ------------------------------*/
.container, input, select, textarea {
  width: 100%;
}

input, select, textarea {
  border: 1px solid #e5e5e5;
}

input[type=text], select, textarea {
  padding: 0 10px;
}

textarea {
  padding: 10px;
}

input, select, textarea, select:hover {
  color: #666;
}

input, select, textarea, label {
  font-weight: 400 !important;
}

input, select:not([multiple]):not([size]) {
  height: 40px;
  vertical-align: middle;
  display: inline-block;
}

input[type=checkbox], input[type=radio] {
  margin-top: -3.5px;
  display: inline-block;
  height: 16px;
  width: 16px;
  overflow: hidden;
  margin-top: -4px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid #ccc;
  transition: 0.2s ease-in-out;
  transition-property: background-color, border;
}

input[type=radio] {
  border-radius: 50%;
}

input[type=radio]:checked {
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22%23fff%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%222%22%20%2F%3E%0A%3C%2Fsvg%3E);
}

input[type=checkbox]:checked {
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A);
}

input[type=checkbox]:checked, input[type=checkbox]:indeterminate, input[type=radio]:checked {
  background-color: #1e87f0;
  border-color: transparent;
}

input[type=checkbox]:not(:disabled), input[type=radio]:not(:disabled) {
  cursor: pointer;
}

.radio-inline input[type=checkbox], .radio-inline input[type=radio], .checkbox-inline input[type=checkbox], .checkbox-inline input[type=radio] {
  top: calc(50% - 5.5px);
}

.checkbox-inline, .radio-inline {
  margin-left: 0;
  margin-right: 15px;
}

input:focus, select:focus, textarea:focus {
  background-color: #fff;
  color: #666;
  border-color: #1e87f0 !important;
}

input[type=text], input[type=text]:focus, select, select:focus, textarea, textarea:focus, .btn, .btn:hover, .btn:focus {
  border-radius: 0 !important;
}

input:focus, select:focus, textarea:focus, .btn, .btn:hover, .btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

input {
  overflow: visible;
}

select:not([multiple]):not([size]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 20px;
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn, input[type=text] {
  border-radius: 0;
  border: 1px solid #e5e5e5;
  height: 40px;
  line-height: 1;
  padding: 0 10px;
}

.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn, .form-control {
  font-size: 0.915rem;
  box-shadow: none;
}

.input-group-btn > * {
  width: auto;
}

.input-group-btn > select {
  padding-right: 20px !important;
}

.search .input-group-addon, .search .input-group-btn {
  min-width: 150px;
}

.search .input-group, .search .input-group-btn {
  display: -ms-flexbox;
  display: flex;
}

.search .input-group, .search .input-group > *, .search .input-group-btn > * {
  float: none;
  width: 100% !important;
}

.search .input-group-btn > * {
  height: 40px !important;
}

.search .input-group .form-control, .search .input-group-addon {
  display: block;
}

.search .input-group-btn {
  border: none;
}

.search .input-group {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search .input-group > * {
  width: 100% !important;
}

.search .input-group > *:not(:last-child) {
  margin-bottom: 10px;
}

@media (min-width: 960px) {
  .search .input-group {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .search .input-group > * {
    width: 50% !important;
  }

  .search .input-group > *:not(:last-child) {
    margin-bottom: 0;
  }
}
.btn:not(select) {
  padding: 0 10px;
  background: white;
  line-height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.btn-pager.active, .btn-pager:hover, .btn-pager:not(.disabled):not(select):hover, .btn-default:hover {
  background: #ebe5b1;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.btn:not(.disabled):not(select):not(.btn-pager):not(.btn-default) {
  background-color: #ebe5b1 !important;
  color: black !important;
  border: none;
}
.btn:not(.disabled):not(select):not(.btn-pager):not(.btn-default):hover, .btn:not(.disabled):not(select):not(.btn-pager):not(.btn-default):focus {
  background-color: #e1d788 !important;
  text-decoration: none;
}
.btn:not(.disabled):not(select):not(.btn-pager):not(.btn-default):hover, .btn:not(.disabled):not(select):not(.btn-pager):not(.btn-default):hover > *, .btn:not(.disabled):not(select):not(.btn-pager):not(.btn-default):focus, .btn:not(.disabled):not(select):not(.btn-pager):not(.btn-default):focus > * {
  color: black !important;
}

.search .input-group-btn > button, .search .input-group-btn > a.btn:not(.disabled):not(select), button.btn-default {
  background-color: #c15254 !important;
  color: white !important;
}
.search .input-group-btn > button:hover, .search .input-group-btn > button:focus, .search .input-group-btn > a.btn:not(.disabled):not(select):hover, .search .input-group-btn > a.btn:not(.disabled):not(select):focus, button.btn-default:hover, button.btn-default:focus {
  background-color: #a53b3d !important;
  text-decoration: none;
}
.search .input-group-btn > button:hover, .search .input-group-btn > button:hover > *, .search .input-group-btn > button:focus, .search .input-group-btn > button:focus > *, .search .input-group-btn > a.btn:not(.disabled):not(select):hover, .search .input-group-btn > a.btn:not(.disabled):not(select):hover > *, .search .input-group-btn > a.btn:not(.disabled):not(select):focus, .search .input-group-btn > a.btn:not(.disabled):not(select):focus > *, button.btn-default:hover, button.btn-default:hover > *, button.btn-default:focus, button.btn-default:focus > * {
  color: white !important;
}

/*---------- End Bootstrap 3 ------------------------------*/
/*---------- Page ------------------------------*/
h4.title, h4.title > * {
  font-size: 1.3rem;
}

h4.title {
  border-left: 7px solid #2e2e2e38;
  padding-left: 10px;
}

.title {
  font-size: 1.1rem;
  font-weight: 700;
}

.panel-heading ~ .panel-collapse > ul, .panel-heading ~ .panel-collapse > ol {
  margin: 0;
}

.panel-heading ~ .panel-collapse > p {
  padding: 0 15px;
}

.panel-heading > h4.panel-title > a > i {
  padding-right: 10px;
}

[class*=col-] ~ .footSort.list-inline {
  float: left;
}

.footSort.list-inline, .footSort.list-inline > li {
  width: 100%;
}

.footSort.list-inline > li {
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.footSort.list-inline > li.visible-xs {
  display: -ms-flexbox !important;
  display: flex !important;
}

@media (min-width: 768px) {
  .footSort.list-inline > li.hidden-xs {
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .footSort.list-inline > li.visible-xs {
    display: none !important;
  }
}
.footSort.list-inline > li > div {
  padding: 0 2px;
}

.footSort.list-inline > li > div, .footSort.list-inline > li > div select {
  width: auto;
}

.footSort.list-inline > li > div:nth-child(2) {
  min-width: calc(100% - 92px*2);
}

.footSort.list-inline > li > div > * {
  display: inline-block;
}

.footSort.list-inline > li > div:nth-child(2) > * {
  margin: 0;
  line-height: 40px;
}

.mainContent > div, .mainContent > div > div {
  padding: 0;
}

.mainContent > .row {
  padding: 0 15px;
}

@media (min-width: 960px) {
  .footSort.list-inline, .footSort.list-inline > li {
    width: 100%;
  }

  .mainContent > div, .mainContent > div > div {
    padding: 0 10px;
  }

  .mainContent > .row {
    padding: 0 15px;
  }
}
.footSort.list-inline {
  margin: 0;
  margin-bottom: 20px;
}

.glyphicon.glyphicon-arrow-left, .btn > .glyphicon {
  padding-right: 5px;
}

.glyphicon.glyphicon-arrow-right {
  padding-left: 5px;
  padding-right: 0;
}

.content-discription ~ hr.hr-blank {
  display: none;
}

.container ol, .container ul:not(.list-group) {
  list-style: inherit;
  -webkit-padding-start: 50px;
     -moz-padding-start: 50px;
          padding-inline-start: 50px;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.container ol[type=c] {
  list-style-type: cjk-ideographic;
}

.container ol[type="1"], .container ol {
  list-style-type: decimal;
}

.container ol[type="01"] {
  list-style-type: decimal-leading-zero;
}

.container ol[type=a] {
  list-style-type: lower-alpha;
}

.container ol[type=l] {
  list-style-type: lower-latin;
}

.container ol[type=i] {
  list-style-type: lower-roman;
}

.container ol[type=A] {
  list-style-type: upper-alpha;
}

.container ol[type=L] {
  list-style-type: upper-latin;
}

.container ol[type=I] {
  list-style-type: upper-roman;
}

.search-advancedQuery > div, .search-advancedQuery > div > div, .form-inline, [class*=col-] > hr:first-child {
  margin-bottom: 10px;
}

.content-discription {
  border: 1px solid rgba(0, 0, 0, 0.06);
  background: white;
}

.form-group label, .form-group span {
  line-height: 40px;
}

.search-advancedQuery ~ div > div > .form-group > label ~ div > select {
  width: auto;
}

@media (min-width: 960px) {
  .search-advancedQuery ~ div > div > .form-group > label ~ div > select {
    min-width: 100px;
  }
}
.panel-default > .panel-collapse > ol.list-group, .content-method ol.list-group {
  counter-reset: num;
  padding-left: 0;
}

.panel-default > ol.list-group .list-group-item, .panel-default > .panel-collapse > ol.list-group .list-group-item, .content-method ol.list-group .list-group-item, .content-method ol.list-group .list-group-item {
  text-indent: 2em;
}

.panel-default > ol.list-group .list-group-item::before, .panel-default > .panel-collapse > ol.list-group .list-group-item::before, .content-method ol.list-group .list-group-item::before, .content-method ol.list-group .list-group-item::before {
  background: #9e9e9e;
  color: white;
  font-weight: bold;
  text-align: center;
  position: absolute;
  display: inline-block;
  left: 15px;
  border-radius: 7px;
  counter-increment: num;
  content: counter(num);
  width: auto;
  text-indent: 0;
  padding: 0 7px;
}

nav.navbar.tabBar {
  margin: 0;
}

nav.navbar.tabBar::before {
  display: none;
}

nav.navbar.tabBar > .container, nav.navbar.tabBar > .container ul.nav.navbar-nav {
  width: 100%;
  padding: 0;
}

#parents_1 > div {
  padding: 0;
}

#parents_1 > div th {
  min-width: 120px;
}

#parents_1 > div > div {
  padding: 0;
}

@media (min-width: 960px) {
  #parents_1 > div th {
    min-width: 200px;
  }

  #parents_1 > div > div {
    padding: 0 15px;
    padding-right: 15px;
    padding-right: 0;
  }

  .container > .row > div {
    padding-left: 0;
  }

  #tabBar {
    padding: 0 25px;
  }

  #parents_1 > .col-xs-12 > .col-xs-12:only-child {
    padding: 0 5px;
  }
}
.tabBar .nav.navbar-nav > li > a:hover, .tabBar .nav.navbar-nav > li.active > a {
  background-color: #ebe5b1;
}

table a:not(.btn) {
  color: #c15254 !important;
}

.glyphicon, .glyphicon ~ span {
  padding-right: 5px;
}

.navbar-brand {
  font-weight: bolder;
}

@media (min-width: 1200px) {
  .mainContent > .row > .col-xs-12.col-lg-7 {
    width: calc(100% - 150px);
  }

  .mainContent > .row > .col-xs-12.col-lg-5.text-right {
    width: 150px;
  }
}
.tab-pane::before {
  content: "";
  display: table-cell;
}

.tab-pane::after {
  content: "";
  display: table;
  clear: both;
}

.stickyItem ~ .container > .row {
  padding: 0 15px;
}

@media (min-width: 768px) {
  .stickyItem .row > [class*=col-]:last-child {
    padding-right: 0;
  }
}
.panel-group[role=tablist] .panel-footer {
  background: none;
}

.panel-group[role=tablist] .panel-footer > a.more {
  text-align: right;
}

.panel-group a {
  display: block;
}

.list-group-item, .list-group-item > input ~ a, .headSort.list-inline, .headSort.list-inline > li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.list-group-item .media-object, .icImg img {
  min-width: 64px;
  max-width: 64px;
}

.headSort.list-inline, .headSort.list-inline > li {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .headSort.list-inline, .headSort.list-inline > li {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.headSort.list-inline > li:last-child {
  margin-top: 10px;
}

@media (min-width: 600px) {
  .headSort.list-inline > li:last-child {
    margin-top: 0;
  }
}
.headSort.list-inline > li > * {
  -ms-flex: none;
      flex: none;
  width: auto;
}

.headSort.list-inline .btn-group.btn-group-sm, .btn-group.btn-group-sm[aria-label=操作功能] > a:not(:last-child) {
  margin-right: 5px;
}

.list-group-item > input[type=checkbox], .list-group-item > input[type=radio] {
  margin: 0;
  margin-right: 5px;
}

.list-group-item > input ~ a {
  width: 100%;
}

.list-group-item > input ~ a:hover {
  text-decoration: none;
}

.badge {
  color: white !important;
  border-radius: 0;
  line-height: inherit;
  margin-left: 5px;
}

.list-group-item:hover {
  background: #fcfcfc;
}

.text-mark {
  color: #c15254;
}

.content-wrapper > *:not(:last-child) {
  margin-bottom: 20px;
}

.content-discription {
  padding-bottom: 10px !important;
}

td {
  position: relative;
}

.css-beforeImg > p {
  margin: 0;
  padding: 0 5px;
  background: #c15254;
  color: white;
}

.checkbox-table {
  position: absolute;
  right: 8px;
  top: 8px;
}

.tag-table {
  position: absolute;
  right: 8px;
  bottom: 15px;
  background: #ebe5b1;
}

.tag-table::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: -10px;
  color: #ebe5b1;
  top: -2px;
  position: relative;
}

.tag-table > .label {
  color: black;
  padding: 0 5px;
}

[headers=bookContain] > div[class*=col-] {
  padding: 0;
}

[headers=bookContain] > a, [headers=bookContain] > a > h5 {
  color: #c15254 !important;
}

[headers=bookContain] .list-unstyled {
  list-style-type: none !important;
  margin: 0 !important;
}

.checkbox-table > input[type=checkbox], .checkbox-table > input[type=radio] {
  margin-right: 5px;
}

blockquote {
  font-size: inherit;
  font-style: inherit;
}

mark {
  background: #c15254;
  color: white;
  padding: 0 5px;
  display: inline-block;
}

.stickyItem, .sticky {
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #fcfcfc;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/*---------- End Page ------------------------------*/
/*---------- Only landscape in mobile ------------------------------*/
/*---------- IE10+ ------------------------------*/
/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
/* ----------- iPhone X ----------- */
/* Portrait and Landscape */